body    
    +reg
img    
   max-width: 100%     
.conteiner
    width: 1130px
    margin: auto
@media (max-width: 1200px)
    .conteiner
        width: 710px 
           
@media (max-width: 768px)
    .conteiner
        max-width: 580px
        width: 90%
    
          
.button
    border-radius: 10px
    background-color: $main-color 
    border: none
    padding: 18px 30px